:root {
    /* Acquired from coolors.co */
    --russian-violet: #38023bff;
    --lavender-floral: #a288e3ff;
    --beau-blue: #bbd5edff;
    --light-cyan: #cefdffff;
    --tea-green: #ccffcbff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #5B2FCA;
    background-color: #cefdffff;
    margin-left: 15%;
    margin-right: 15%;
}

header,
footer {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1,
h2 {
    font-family: 'Roboto+Slab', serif;
    color: #38023bff;
    text-align: center;
    line-height: 0px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #38023bff;
    text-align: center;
    line-height: 0px;
}

a {
    text-decoration: none;
    color: #644064ff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #644064af;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

nav {
    text-align: center;
}

table {
    background-color: rgb(139, 235, 238);
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(182, 233, 235);
}

th {
    background-color: #5B2FCA;
    color: #cefdffff;
    b
}