body {
    font-family: 'Montserrat', sans-serif;
    color: lavender;
    background-color: #2f4c4c;
    margin-left: 15%;
    margin-right: 15%;
}

header,
footer {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family: 'Roboto+Slab', serif;
    color: plum;
    text-align: center;
    line-height: 0px;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: plum;
    text-align: center;
    line-height: 0px;
}

a {
    text-decoration: none;
    color: peachpuff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: palevioletred;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

nav {
    text-align: center;
}