<h1><img src="images/dapperhippomini.png" alt="Small Hippo">Dale Hagen's Dapper Hippo || ITIS3135<img src="images/dapperhippominiright.png" alt="Small Hippo"></h1>
        <nav>
            [<a href="./">Home</a>]
            [<a href="introduction.html">Introduction</a>]
            [<a href="contract.html">Contract</a>]
            [<a href="tables.html">Tables</a>]
            [<a href="forms.html">Forms</a>]
            [<a href="website_evaluations.html">Website Evaluations</a>]
            [<a href="stuff/Wh@t%20The%20CRAP.htm">CRAPPY Webpage</a>]
            [<a href="firstscripts.html">First Scripts</a>]
        </nav>