:root {
    /* Acquired from coolors.co */
    --russian-violet: #38023bff;
    --lavender-floral: #a288e3ff;
    --beau-blue: #bbd5edff;
    --light-cyan: #cefdffff;
    --tea-green: #ccffcbff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #5B2FCA;
    background-color: #cefdffff;
    margin:auto 15%;
    max-width: 960px;
}

header,
footer {
    text-align: center;
    margin: 5% auto;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1,
h2 {
    font-family: 'Roboto+Slab', sans-serif;
    color: #38023bff;
    text-align: center;
    margin: 1em auto;
    line-height: 0px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #38023bff;
    text-align: center;
    margin: 1em auto;
    line-height: 0px;
}

a,a:visited {
    text-decoration: none;
    color: #644064ff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #644064af;
}

a.validationbutton:hover {
    text-decoration: none;
}

figure {
    text-align: center;
    margin: 1em auto;
}

img {
    margin: 0 auto;
}

figcaption {
    font-style: italic;
}

nav {
    text-align: center;
    margin: 1em auto;
}

nav.navbar {
    text-decoration: none;
    color: #644064ff;
    font-weight: bold;
}

table.ct {
    background-color: rgb(139, 235, 238);
    text-align: center;
    border: 2px solid black;
    border-spacing: 0px;
}

td.ctd,th.cth {
    border: 1px solid black;
    padding-left: 4pt;
    padding-right: 4pt;
}

tr.ctr:nth-child(even) {
    background-color: rgb(182, 233, 235);
}

th.cth {
    background-color: #5B2FCA;
    color: #cefdffff;
}

button.formbutton {
    background-color: rgb(39, 38, 38);
    color: rgb(255, 0, 0);
    font-size: medium;
    font-weight: bold;
}

button.formbutton:hover {
    background-color: rgb(253, 1, 1);
    color: rgb(0, 0, 0);
    font-size: large;
}

input.formtextbox {
    color: rgb(250, 2, 2);
    font-size: large;
}

select.formdropbox {
    font-size: large;
}
legend.formlegends {
    font-size: larger;
}

input.scriptpagetextbox {
    display: block;
    margin: auto;
}

fieldset.scriptpagefield {
    margin: auto;
    width: auto;
    min-width: 300px;
    max-width: 500px;
}
div.scriptpagediv {
    margin: auto;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}